---
--- 

@import "{{ site.theme }}";


header {
    background: #000;

    h1 {
        color: #fff;
        text-shadow: none;
    }
}

body {
    background: #f7f7f7;
    color: #333;
    font-size: 18px;
    line-height: 24px;
    font-family: "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


section {
    background: #ffffff;


    ul {
        list-style-image: none;
        list-style-type: square;
        padding: 40px;
        background-color: #fdfff3;
        border-radius: 10px;
        border: 1px solid #bbb;
    }
}

h3,
h4,
h5,
h6 {
    color: #FF1293;
}

hr {
    background: #FF1293;
    height: 2px;
}

img {
    border: 1px solid #000;
}